/*
CSS File for East Dearborn Medical Center PC Website
*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#nav{
    background-color: cyan;
    height: 70px;
}
#nav a{
    padding: 2vh;
}
#intro{
    background-image: url("images/cover.jpg");
    background-size: cover;
    height: 100vh;
    text-align: right;
}

#intro h1{
    padding-right: 20px;
}

#intro h3{
    padding-right: 20px;
}

#intro h5{
    padding-right: 20px;
}

#intro-nav{
    width: 100%;
    text-align: center;
    background-color: rgba(111,111,111,0.5)
}

#intro-nav a{
    padding: 10px;
}

#welcome{
    text-align: center;
}
.nav-hidden{
    display: none;
}
.nav-locked{
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
}

.content-idle{
    padding-top: 20px;
}

.content-active{
    padding-top: 80px;
}
.spacer{
    height: 40px;
}
.row{
    padding: 0;
    margin: 0;
}
