/*
CSS File for East Dearborn Medical Center PC Website
*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#nav{
    background-color: cyan;
    height: 70px;
}
#nav a{
    padding: 2vh;
}
#intro{
    background-color: gray;
    background-size: cover;
    height: 100vh;
}
.nav-hidden{
    display: none;
}
.nav-locked{
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
}

.content-idle{
    padding-top: 20px;
}

.content-active{
    padding-top: 80px;
}


.row{
    padding: 0;
    margin: 0;
}